<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
</head>
<body>
    <div class="header">
        <span class="logo">TeleApp</span>
        {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == "teleapp" %} class="selected"{% endif %}>
                    <a href="{% url 'teleapp' %}">My teleapp</a>
                </li>
                <li {% if section == "image" %} class="selected"{% endif %}>
                    <a href="#">Picture</a>
                </li>
                <li {% if section == "people" %} class="selected"{% endif %}>
                    <a href="#">People</a>
                </li>
            </ul>
    {% endif %}
    <span class="user">
        {% if request.user.is_authenticated %}
        <p>Hello {{ request.user.nickname }}, <a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </span>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>